---

---

@charset "utf-8";

$base-font-weight: 400;
$base-line-height: 1.5;

$font-weight-normal: 400;

$spacing-unit:     30px;
$base-spacing: $base-line-height * 1em;

$text-color: #3d3d3d;
$background-color: #ffffff;
$brand-color: #4b74ff;

$grey-color: #605e63;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$light-gray-color: #bababa;
$medium-gray-color: #353535;
$primary-color: #313131;


/** remove outlines **/
a {
  outline: 0 !important;
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, time, .md-menu {
  font-family: 'Cantarell', sans-serif !important;
  font-weight: 500;
}

.no-left-padding {
  padding-left: 0;
}


/**
* nav bar styling
***/

.grid-header {
  text-align: center;

  a {
    border-bottom: none;
  }

  a:hover {
    color: white;
  }
}

.grid-link {
  color: white;
  height: 30px;
}

.red {
  background: #4192ff; }


/**
 * Basic styling
 */
body {
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  background: #f6f6f6;
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 15px;
  }

  .body-content {
    padding: 20px 100px 20px 100px;
  };

  .portfolio {
    padding: 20px 60px 20px 60px;
  }

  .main-image {
    max-height: 200px;
    max-width: 200px;
  }

  .field {
    padding: 40px 40px 40px 40px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1399px) {
  body {
    font-size: 12px;
  }

  .body-content {
    padding: 20px 40px 20px 40px;
  }

  .portfolio {
    padding: 20px 40px 20px 40px;
  }

  .main-image {
    max-height: 180px;
    max-width: 180px;
  }

  .field {
    padding: 30px 30px 30px 30px;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px){
  body {
    font-size: 12px;
  }

  .body-content {
    padding: 20px 20px 20px 20px;
  }

  .portfolio {
    padding: 20px 20px 20px 20px;
  }

  .main-image {
    max-height: 200px;
    max-width: 200px;
  }

  .field {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 640px){
  body {
    font-size: 12px;
  }

  .body-content {
    padding: 10px 10px 10px 10px;
  }

  .portfolio {
    padding: 10px 10px 10px 10px;
  }

  .main-image {
    max-height: 200px;
    max-width: 200px;
  }

  .field {
    padding: 10px 10px 10px 10px;
  }
}

.showcase-img {
  width: 100%;
  height: auto;
}

.header {
  background-color: #6a6a6a;
  color: white;
  padding: 20px 10px 10px 10px;
  border-radius: 6px;
}

.left-border {
  border-left: solid #4b74ff 6px;
}

.left-border-thick {
  border-left: solid #4b74ff 4px;
}

h1 {
  padding-left: 20px;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


.field {
  background: $grey-color;
  border-radius: 10px;
  color: white;
}

.field-p {
  text-align: justify;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 3px;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 12px;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Headings
 */
h1 {
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}


/**
 * Links
 */

p a {
  border-bottom: dotted 1px #747474 !important;
}

.footer-a {
  color: $text-color;
  font-weight: 500;
  text-decoration: none;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: blue;
  }

  &.page-link{
    font-size: 12px;

    &:hover {
      color: #4b74ff;
    }
  }
  &.postLink{

    &:hover {
      color: #4b74ff;
    }

  }
  &.post-title-link{
    font-size: 28px;
    color: $text-color;

    &:hover {
      color: #4b74ff;
      font-size: 28px;
    }

  }
}

.gray {
  background: #e4e4e4;
}


.red {
  background: #49b1ff; }

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 12px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  border: 1px solid #3b3b3b;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 14px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.controller-btn {
  background: $grey-color !important;
  color: white !important;

  md-icon {
    color: white;
  };
}

.controller-btn:not([disabled]):hover {
  background-color: blue !important;
}


.footer-content {

}

.bottom-padding-5 {
  padding-bottom: 5px;
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 30px;
        height: 30px;

    }

  padding-bottom: 10px;
  padding-left: 10px;
}

// icon colors
svg:hover #facebook-back {
  fill: blue;
}

svg:hover #github-back {
  fill: blue;
}

svg:hover #twitter-back {
  fill: blue;
}

/**
 * Syntax highlighting styles
 */
.highlight {
    background: #ededed;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: #cacaca;
    }

    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #171717
    } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}
