/** remove outlines **/
a {
  outline: 0 !important; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, time, .md-menu {
  font-family: 'Cantarell', sans-serif !important;
  font-weight: 500; }

.no-left-padding {
  padding-left: 0; }

/**
* nav bar styling
***/
.grid-header {
  text-align: center; }
  .grid-header a {
    border-bottom: none; }
  .grid-header a:hover {
    color: white; }

.grid-link {
  color: white;
  height: 30px; }

.red {
  background: #4192ff; }

/**
 * Basic styling
 */
body {
  color: #3d3d3d;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  background: #f6f6f6; }

@media screen and (min-width: 1400px) {
  body {
    font-size: 15px; }

  .body-content {
    padding: 20px 100px 20px 100px; }

  .portfolio {
    padding: 20px 60px 20px 60px; }

  .main-image {
    max-height: 200px;
    max-width: 200px; }

  .field {
    padding: 40px 40px 40px 40px; } }
@media screen and (min-width: 801px) and (max-width: 1399px) {
  body {
    font-size: 12px; }

  .body-content {
    padding: 20px 40px 20px 40px; }

  .portfolio {
    padding: 20px 40px 20px 40px; }

  .main-image {
    max-height: 180px;
    max-width: 180px; }

  .field {
    padding: 30px 30px 30px 30px; } }
@media screen and (min-width: 641px) and (max-width: 800px) {
  body {
    font-size: 12px; }

  .body-content {
    padding: 20px 20px 20px 20px; }

  .portfolio {
    padding: 20px 20px 20px 20px; }

  .main-image {
    max-height: 200px;
    max-width: 200px; }

  .field {
    padding: 20px 20px 20px 20px; } }
@media screen and (max-width: 640px) {
  body {
    font-size: 12px; }

  .body-content {
    padding: 10px 10px 10px 10px; }

  .portfolio {
    padding: 10px 10px 10px 10px; }

  .main-image {
    max-height: 200px;
    max-width: 200px; }

  .field {
    padding: 10px 10px 10px 10px; } }
.showcase-img {
  width: 100%;
  height: auto; }

.header {
  background-color: #6a6a6a;
  color: white;
  padding: 20px 10px 10px 10px;
  border-radius: 6px; }

.left-border {
  border-left: solid #4b74ff 6px; }

.left-border-thick {
  border-left: solid #4b74ff 4px; }

h1 {
  padding-left: 20px; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

.field {
  background: #605e63;
  border-radius: 10px;
  color: white; }

.field-p {
  text-align: justify; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 3px; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 12px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1 {
  font-weight: 500; }

h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
p a {
  border-bottom: dotted 1px #747474 !important; }

.footer-a {
  color: #3d3d3d;
  font-weight: 500;
  text-decoration: none; }

a {
  color: white;
  font-weight: 600;
  text-decoration: none; }
  a:hover {
    color: blue; }
  a.page-link {
    font-size: 12px; }
    a.page-link:hover {
      color: #4b74ff; }
  a.postLink:hover {
    color: #4b74ff; }
  a.post-title-link {
    font-size: 28px;
    color: #3d3d3d; }
    a.post-title-link:hover {
      color: #4b74ff;
      font-size: 28px; }

.gray {
  background: #e4e4e4; }

.red {
  background: #49b1ff; }

/**
 * Blockquotes
 */
blockquote {
  color: #605e63;
  border-left: 4px solid #c6c5c8;
  padding-left: 15px;
  font-size: 12px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  border: 1px solid #3b3b3b;
  border-radius: 3px; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 14px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Clearfix
 */
.controller-btn {
  background: #605e63 !important;
  color: white !important; }
  .controller-btn md-icon {
    color: white; }

.controller-btn:not([disabled]):hover {
  background-color: blue !important; }

.bottom-padding-5 {
  padding-bottom: 5px; }

/**
 * Icons
 */
.icon {
  padding-bottom: 10px;
  padding-left: 10px; }
  .icon > svg {
    display: inline-block;
    width: 30px;
    height: 30px; }

svg:hover #facebook-back {
  fill: blue; }

svg:hover #github-back {
  fill: blue; }

svg:hover #twitter-back {
  fill: blue; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #ededed; }
  .highlighter-rouge .highlight {
    background: #cacaca; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #171717; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
