target/
!.mvn/wrapper/maven-wrapper.jar
log.txt
depli.mv.db
depli.trace.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### OS ###
.directory


Gemfile.lock
