<div class="footer-content">
    <div layout="row">
        <div flex="5"></div>

        <hr flex="90">

        <div flex="5"></div>
    </div>

    <div class="bottom-padding-5"></div>

    <div layout="row">
        <div flex></div>

        {% include github.html username=site.github_username %}
        {% include twitter.html username=site.twitter_username %}
        {% include facebook.html username=site.facebook_username %}

        <div flex></div>
    </div>

    <div layout="row">
        <div flex></div>

        <h3>© 2017 <a class="footer-a" href="http://lahiru.site" target="_blank">Lahiru Sandaruwan Pathirage</a></h3>
        <div flex></div>
    </div>
</div>