<div style="padding-top: 40px"></div>
<div layout="row">
  <div flex="5"></div>

  <div class="header left-border" flex="90">
    <div layout="row">
      <div layout="column">
        <div flex></div>

        <h1>{{site.title}}</h1>

        <div flex></div>
      </div>

      <div flex></div>

      <div layout="column">
        <div flex></div>

        <iframe src="https://ghbtns.com/github-btn.html?user=lpsandaruwan&repo=depli&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="40px"></iframe>

        <div flex></div>
      </div>
    </div>
  </div>

  <div flex="5"></div>
</div>


