/**
* stylesheet for depli frontend
*
* Created by lpsandaruwan on 3/25/17.
**/


/** Page layout **/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}
*:after,
*:before{
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

.body-content {
    padding: 20px 20px 20px 20px;
}

.site-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.site-header{
    flex: 0 0 auto;
}

.site-content{
    overflow-y: auto;
    padding-top: 15px;
}

.site-footer{
    flex: 0 0 auto;
}


/* Material design styling */ /*
.md-fab {
    background-color: #494949 !important;
}

.md-fab:hover {
     background-color: red !important;
 }

.md-toolbar-header {
    font-weight: bold !important;
}

*/

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: red !important;
    background-color:red !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: #6e6e6e !important;
}

.md-button {
    color: #212121 !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #464646;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #3d3d3d;
}

.gray {
    background: #f5f5f5;
}


/** navbar header **/
.header-bar {
    color: white;
    background-color: #343434;
    padding: 5px 5px 5px 5px;
}


/** body styling **/
body {
    color: #525252;
}


/** styling commons **/

.color-main {
    color: #212121;
}

.color-submain {
    color: #4e4e4e;
}

.padding-20 {
    padding: 20px 20px 20px 20px;
}

.padding-40 {
    padding: 40px 40px 40px 40px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.text-stat {
    font-size: 13px;
    padding-bottom: 1px;
}

h3 {
    padding-bottom: 8px;
}

h4 {
    padding-bottom: 6px;
}

h5 {
    padding-bottom: 4px;
}


/* page animations */
@keyframes fadeOut {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.ng-enter           { animation: fadeIn 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: fadeOut 0.01s both ease-in; z-index: 9999; }

.page-dashboard.ng-enter        { animation:fadeIn 0.5s both ease-in; }
.page-dashboard.ng-leave        { animation:fadeOut 0.01s both ease-in; }

.page-instance.ng-enter      { animation:fadeIn 0.5s both ease-in; }
.page-instance.ng-leave      { animation:fadeOut .01s both ease-in; }
